<h1>Page of <%= @guest.first_name %></h1>
<p><%= link_to "Reservations", guest_reservation_path(@property, @guest) %></p>
<p><%= link_to "Back", guests_path %></p>
<p><%= button_to "Delete", guest_path(@guest), method: :delete %>