<h1>All Reservations</h1>
<% @reservations.each do |reservation| %>
  <h3><%= @guest.last_name %>, <%= @guest.first_name %></h3> 
  <p><%= link_to "View Reservation", user_property_guest_reservation_path(@user, @property, @guest, reservation) %></p>
<% end  %>

<p><%= link_to "Back", user_property_guests_path %>