<h1>All Reservations</h1>
<% @reservations.each do |reservation| %>
  <h3><%= @guest.last_name %>, <%= @guest.first_name %></h3>
  <p>Check in <%= reservation.date_in %></p>
  <p>Check out <%= reservation.date_out %></p>
<% end  %>