.page-wrapper {
  background-color: white;
}

.page {
  padding-top: 150px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 100px;
  max-width: 80%;
  background-color: white;
}

.hotel-pro-title {
  font-size: 60px;
  padding-top: 30%;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
}

.intro {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.bullet-section {
  margin-bottom: 20px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.bullet-section h2 {
  font-size: 30px;
  font-weight: bold;
  color: rgb(6, 6, 6);
  
}

.bullet-section ul {
  list-style-type: disc;
  margin-left: 20px;
  padding-left: 15px;
}

.bullet-section li {
  margin-bottom: 5px;
  
}