<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'header.css' %>
  </head>
  <body>
    <div class="main-header">

        <%= image_tag "pics/logo.png", :class => "logo"%>
        <% if logged_in? %>
          <%= button_to "Logout", sessions_path, method: :delete, :class => "text" %>
        <% else %>
          <%= button_to "Login Page", login_path, method: :get, :class => "text" %>
        <% end %>
    </div>
</body>
</html>